.singleNews{
    text-align: left !important;
}
.singleNews h2{
    text-transform: uppercase;
    font-size: 22px;
}

.singleNews p{
    font-size: 19px;
    line-height:30px;
}

.singleNews{
    text-align: left !important;
}


.comments{
    display: flex !important;
    text-align: left !important;
    margin-bottom: 20px;

}
.commnetsImg{
  
}
.authorImg{
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.commetsBody{
    margin-left: 10px;
    padding: 0px 15px 0px 15px;
    background:#9ae8f55e;
    border-radius: 20px;
}
.commetsBody h1{
    font-size: 20px;
    text-transform: capitalize;
}
.commetsBody h1 span{
    color: #303F9F !important;
}
.commetsBody h1 small{
    color: #303F9F !important;
    font-size: 14px;
    font-style: italic;
}
.commetsBody p{
    
}


.MuiGrid-grid-xs-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
    margin: 0 auto !important;
}